* { background-color: white; color: black; line-height: 1.5; padding: 2px; font-family: 'Trebuchet MS', Helvetica, sans-serif; }
header nav a { font-size: 200%; }
img { border: 0; padding: 10px;}
h2 { background-color: #da0; color: #fff; line-height: 2; padding-left:10px;}
h3, h4 { color: #da0; }
a { text-decoration: none; color: #860;}
a:hover { color: #fc0; text-decoration: underline;}
ul, ol { padding-left:30px;}
pre { font-family: Courier; background-color: #000; font-size: 80%; color:yellow; padding: 20px;}
article, footer { clear:both; }